{% extends 'BMSystem/base.html' %}

{% block title %}图书列表{% endblock %}

{% block content %}
    <h2>图书列表</h2>
    <ul>
        {% for book in books %}
            <li>
                <a href="{% url 'book_detail' book.id %}">{{ book.title }}</a>
                <p>作者：{{ book.author }}</p>
                <p>出版社：{{ book.publisher }}</p>
                <p>出版日期：{{ book.published_date }}</p>
            </li>
        {% empty %}
            <li>没有找到图书。</li>
        {% endfor %}
    </ul>
{% endblock %}