<!-- delete_book.html -->
{% extends 'BMSystem/base.html' %}

{% block title %}图书出库{% endblock %}

{% block content %}
    <div class="delete-container">
        <header>
            <h1>图书出库</h1>
        </header>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <section>
            <form method="post">
                {% csrf_token %}
                <label for="isbn">输入 ISBN:</label>
                <input type="text" id="isbn" name="isbn" required>
                <button type="submit">确认</button>
            </form>
        </section>
    </div>
{% endblock %}