<!-- BMSystem/templates/BMSystem/book_list.html -->

{% extends 'BMSystem/base.html' %}

{% block title %}图书列表 - 图书馆管理系统{% endblock %}

{% block content %}
    <div class="container">
        <h2>图书列表</h2>
        <ul>
            {% for book in books %}
                <li>
                    <strong>{{ book.title }}</strong> - {{ book.author }}
                    <br><small>ISBN: {{ book.isbn }}</small>
                    <br><small>出版社: {{ book.publisher }}</small>
                    <br><small>出版日期: {{ book.published_date }}</small>
                    <br><small>库存: {{ book.stock }}</small>
                    <small><a href="{% url 'book_detail' pk=book.id %}">更多信息</a></small>
                </li>
            {% empty %}
                <li>暂无图书信息。</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}