{% extends 'BMSystem/base.html' %}
{% block content %}
    <div class="container">
        <h1>图书借阅情况</h1>
        <table>
            <thead>
            <tr>
                <th>书籍标题</th>
                <th>借阅者姓名</th>
                <th>借阅日期</th>
                <th>应还日期</th>
                <th>实际归还日期</th>
            </tr>
            </thead>
            <tbody>
            {% for record in records %}
                <tr>
                    <td>{{ record.book.title }}</td>
                    <td>{{ record.borrower.full_name }}</td>
                    <td>{{ record.booking_date }}</td>
                    <td>{{ record.due_date }}</td>
                    <td>{{ record.return_date|default:"未归还" }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">没有借阅记录。</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}