<!-- BMSystem/templates/BMSystem/return_book.html -->

{% extends 'BMSystem/base1.html' %}

{% block title %}归还书籍 - 图书馆管理系统{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="page-title">归还书籍</h2> <!-- 标题放在表单上方 -->
        <form id="returnForm" method="post" action="{% url 'return_book' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="isbn">ISBN号:</label>
                <input type="text" class="form-control" id="isbn" name="isbn" placeholder="请输入ISBN号" required>
            </div>
            <button type="submit" class="btn btn-primary">归还</button>
        </form>
    </div>
{% endblock %}
